<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default  " style="background-image:url(/img/bg/navbar.jpg);margin-top:-51px">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="navbar-collapse collapse">

                <a href="~/Products/Index"><img src="~/img/logo/logo.gif" width="120" height="68" /></a>
                @if (Session["UserID"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="~/Users/Details/@Session["UserID"].ToString()" style="color:cyan"><span class="glyphicon glyphicon-user"></span>Hi @Session["Name"].ToString()</a></li>

                        <li><a href="~/Login/Login" style="color:cyan">Đăng xuất</a></li>
                        @if (Session["count"] == null)
                        {
                            <li><a href="~/Cart/Index" style="color:cyan">Giỏ Hàng </a></li>
                        }
                        else
                        {

                            <li><a href="~/Cart/Index" style="color:cyan">Giỏ Hàng <sup style="border-radius:10px;background-color:red;font-size:17px">@Session["count"].ToString()</sup></a></li>
                        }
                        <li><a href="~/Orders/GetOrderByUser?userId=@Session["UserID"].ToString()" style="color:cyan">Đơn Hàng</a></li>
                    </ul>

                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="~/Users/Create" style="color:cyan"><span class="glyphicon glyphicon-user "></span>Đăng ký</a></li>

                        <li><a href="~/Login/Login" style="color:cyan">Đăng nhập</a></li>
                    </ul>
                }

            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav na">
                    <li><a href="~/Products/Index" style="color:cyan">Trang Chủ</a></li>
                    <li><a href="~/Home/About" style="color:cyan">Giới Thiệu</a></li>
                    <li><a href="~/Home/Contact" style="color:cyan">Tin Tức</a></li>
                    <li><a href="~/Products/Index" style="color:cyan">Sản Phẩm</a></li>
                    <li><a href="" style="color:cyan">Liên Hệ</a></li>
                </ul>

                @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { @class = "navbar-form navbar-right", role = "search", id = "search-form" }))
                {


                    <div class="form-group">
                        <input type="text" class="form-control " placeholder="Tìm kiếm" name="SearchTerm" value="@ViewBag.SearchTerm" id="search-box" style="width:180px">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-default" id="search" style="width:35px;height:35px"><i class="glyphicon glyphicon-search"></i></button>
                       
                    </div>
                }

            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#search').click(function () {
                if ($('#search-box').val().toString().trim().length == 0) {
                    alert('Bạn chưa nhập từ khóa tìm kiếm');
                    return false;
                }
            });
        });
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
