@using PagedList.Mvc

@model PagedList.IPagedList<ShopManageProject.Models.Product>


@if (Session["GroupName"].ToString().Equals("Admin"))
{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
else if (Session["GroupName"].ToString().Equals("User"))
{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    IEnumerable<ShopManageProject.Models.Product> allProduct = ViewData["product"] as IEnumerable<ShopManageProject.Models.Product>;
    IEnumerable<ShopManageProject.Models.ProductCategory> CategoryList = ViewData["productCategory"] as IEnumerable<ShopManageProject.Models.ProductCategory>;
    IEnumerable<ShopManageProject.Models.Product> FilterProduct = ViewData["filterProduct"] as IEnumerable<ShopManageProject.Models.Product>;
}
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Content/hover.css")" rel="stylesheet" type="text/css" />

@{ int productCount = 0;}
<div class="row list-group">

    <div class="col-md-2 col-xs-12">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropFilter" style="margin-top:-25px;margin-right:-20px">
            <strong style="color:red"> Menu</strong>
        </button>

        <div class="collapse navbar-collapse" id="dropFilter">
            <h4 style="color:red;width:200px;font-size:larger">Danh mục sản phẩm</h4>

            @foreach (var item in CategoryList)
            {
                foreach (var product in allProduct)
                {
                    if (item.ProductCategoryId == product.ProductCategoryId)
                    {
                        productCount++;
                    }
                }

                if (productCount > 0)
                {

                    <div class="dropdown-submenu btn-group dropdown-menu-right">

                        <a href="/Products/Filter/@item.ProductCategoryId" class="btn btn-secondary" style="width:180px;max-height:50px;background-color:antiquewhite">
                            <strong style="margin-right:120px">@item.Name</strong>
                        </a>
                        <ul class="dropdown-menu">

                            @foreach (var i in allProduct)
                            {
                                if (i.ProductCategoryId == item.ProductCategoryId)
                                {
                                    <li>
                                        <a href="~/Products/Details/@i.ProductId">@i.Name</a>
                                    </li>
                                }
                                productCount = 0;
                            }
                        </ul>

                    </div>
                }
            }
        </div>
        <br /><br /><br />
    </div>

    <div class="col-md-1">

    </div>

    @{long? id = 0;}
    <div class="col-md-9">
        <h2 class="panel-heading">@Session["CategoryName"].ToString()</h2>
        <div id="products" class="row list-group">

            @foreach (var item in Model)
            {

                <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <a href="/Products/Details/@item.ProductId"><img class="group list-group-image img-fluid" src="@Html.DisplayFor(modelItem => item.Image)" alt="" /></a>
                        <div class="caption">
                            <h3 class="group inner list-group-item-heading" style="height:50px">
                                <a href="/Products/Details/@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a>
                            </h3>

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p style="color:red;width:auto">
                                        @if (item.PromotionPrice != null)
                                        {
                                            <mark style="color:white ;background-color:red">@( String.Format("-{0:P1}", 1 - item.PromotionPrice / item.Price))</mark>
                                            <del> @Html.DisplayFor(modelItem => item.Price)</del>
                                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Price)
                                        }
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                id = item.ProductCategoryId;
            }
        </div>

        <div id="pager">
            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Filter", new { id, page }))
        </div>

    </div>

</div>
