@using PagedList.Mvc

@model PagedList.IPagedList<ShopManageProject.Models.Product>

@{
    IEnumerable<ShopManageProject.Models.Product> allProduct = ViewData["product"] as IEnumerable<ShopManageProject.Models.Product>;
    IEnumerable<ShopManageProject.Models.ProductCategory> CategoryList = ViewData["productCategory"] as IEnumerable<ShopManageProject.Models.ProductCategory>;

    IEnumerable<ShopManageProject.Models.Product> FilterProduct = ViewData["filterProduct"] as IEnumerable<ShopManageProject.Models.Product>;
}
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="col-md-2">
        <h4 style="color:red;width:200px">Danh mục sản phẩm</h4>

        @foreach (var item in CategoryList)
        {
            <div class="btn-group dropdown-menu-right">



                <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                   style="width:180px;background-color:antiquewhite">
                    @item.Name
                </a>
                <ul class="dropdown-menu">

                    @foreach (var i in allProduct)
                    {
                        if (i.ProductCategoryId == item.ProductCategoryId)
                        {
                            <li> <a href="~/Products/Details/@i.ProductId">@i.Name</a></li>
                        }
                    }
                </ul>
            </div>
        }

    </div>

    <div class="col-md-1">

    </div>

    @{long ?id = 0;}
    <div class="col-md-9">
        <h2 class="panel-heading">@Session["CategoryName"].ToString()</h2>
        <div id="products" class="row list-group">

            @foreach (var item in Model)
            {

                <div class="item col-xs-3 col-lg-3 ">
                    <div class="thumbnail">
                        <a href="/Products/Details/@item.ProductId"><img class="group list-group-image img-fluid" src="@Html.DisplayFor(modelItem => item.Image)" alt="" /></a>
                        <div class="caption">
                            <h3 class="group inner list-group-item-heading" style="height:50px">
                                <a href="/Products/Details/@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a>
                            </h3>

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p style="color:red;width:auto">
                                        @if (item.PromotionPrice != null)
                                        {
                                            <mark style="color:white ;background-color:red">@( String.Format("-{0:P1}", 1 - item.PromotionPrice / item.Price))</mark>
                                            <del> @Html.DisplayFor(modelItem => item.Price)</del>
                                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Price)
                                        }
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                id = item.ProductCategoryId;
            }
        </div>

        <div id="pager">
            <p> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
            @Html.PagedListPager(Model, page => Url.Action("Filter", new {id,page}))
        </div>

    </div>

</div>
