@{
    IEnumerable<ShopManageProject.Models.Product> allProduct = ViewData["product"] as IEnumerable<ShopManageProject.Models.Product>;
    IEnumerable<ShopManageProject.Models.ProductCategory> CategoryList = ViewData["productCategory"] as IEnumerable<ShopManageProject.Models.ProductCategory>;

    //IEnumerable<ShopManageProject.Models.Product> SearchProduct = ViewData["d"] as IEnumerable<ShopManageProject.Models.Product>;
}

@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/hover.css")" rel="stylesheet" type="text/css" />

<style>

    .carousel-control {
        width: 4%;
    }

        .carousel-control.left, .carousel-control.right {
            margin-left: 25px;
            margin-right: 25px;
            background-image: none;
        }
        a:hover{
            color:red;
            text-decoration:none;
        }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
@{ int productCount = 0;}
<div>
    
    <div class="col-md-2 col-xs-12">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#drop" style="margin-top:-25px;margin-right:-20px">
            <strong style="color:red"> Menu</strong>
        </button>
        <div class="collapse navbar-collapse" id="drop" style="height:300px">
            <h4 style="color:red;width:200px">Danh mục sản phẩm</h4>

            @foreach (var item in CategoryList)
            {
                foreach (var product in allProduct)
                {
                    if (item.ProductCategoryId == product.ProductCategoryId)
                    {
                        productCount++;
                    }
                }

                if (productCount > 0)
                {
                    
                    <div class="dropdown-submenu btn-group dropdown-menu-right ">

                        <a href="/Products/Filter/@item.ProductCategoryId" class="btn btn-secondary" style="width:180px;max-height:50px;background-color:antiquewhite">
                            <strong style="margin-right:120px">@item.Name</strong>
                        </a>
                        <ul class="dropdown-menu">

                            @foreach (var i in allProduct)
                            {
                                if (i.ProductCategoryId == item.ProductCategoryId)
                                {
                                    <li>
                                        <a href="~/Products/Details/@i.ProductId">@i.Name</a>
                                    </li>
                                }
                                productCount = 0;
                            }
                        </ul>

                    </div>
                }
            }
        </div>
        <br /><br /><br />
    </div>

   
    <div class="col-md-1">

    </div>


    <div class="col-md-9 col-xs-12">

        <div class="row list-group" style="width:auto">

            <div class="row">
                <div>
                    <div class="carousel slide multi-item-carousel" id="theCarousel" data-ride="carousel" data-interval="2700">
                        <div class="carousel-inner">
                            <div class="item active center-block">
                                <div class="d-block w-100"><img src="~/img/slide/slide1.png" class="img-responsive center-block" style="width:1024px;height:auto"></div>
                            </div>
                            <div class="item center-block">
                                <div class="d-block w-100"><img src="~/img/slide/slide2.png" class="img-responsive center-block"style="width:1024px;height:auto"></div>
                            </div>
                            <div class="item center-block">
                                <div class="d-block w-100"><img src="~/img/slide/slide3.png" class="img-responsive center-block"style="width:1024px;height:auto"></div>
                            </div>
                            <div class="item center-block">
                                <div class="d-block w-100"><img src="~/img/slide/slide4.png" class="img-responsive center-block"style="width:1024px;height:auto"></div>
                            </div>

                            <!-- add  more items here -->
                            <!-- Example item start:  -->
                            <!--  Example item end -->
                        </div>
                        <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // Instantiate the Bootstrap carousel
            $('.multi-item-carousel').carousel({
                interval: false
            }).carousel();
        </script>

        <div class="row list-group">

            @{ int count = 0;}

            @{long ProductId = 0;}

            <h2>Sản Phẩm</h2>

            <h3>Có Gì Mới?</h3>
            <div class="row">
                <div id="a" class="carousel slide" data-ride="carousel" data-interval="2500">
                    <div class="carousel-inner " >


                        @foreach (var item in allProduct)
                        {

                            <div class="item active center-block ">
                                <div class="thumbnail">
                                    <a href="/Products/Details/@item.ProductId"><img src="@Html.DisplayFor(modelItem => item.Image)" style="width:auto;height:220px" alt="" /></a>
                                    <div class="caption">
                                        <h3 class="group inner list-group-item-heading" style="height:50px">
                                            <a href="/Products/Details/@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a>
                                        </h3>

                                        <div class="row">
                                            <div class="col-xs-12 ">
                                                <p style="color:red;width:auto">
                                                    @if (item.PromotionPrice != null)
                                                    {
                                                        <mark style="color:white ;background-color:red">@( String.Format("-{0:P1}", 1 - item.PromotionPrice / item.Price))</mark>
                                                        <del> @Html.DisplayFor(modelItem => item.Price)</del>
                                                        @Html.DisplayFor(modelItem => item.PromotionPrice)
                                                    }
                                                    else
                                                    {
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    }
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            ProductId = item.ProductId;

                            break;
                        }

                        @foreach (var item in allProduct)
                        {
                            if (item.ProductId != ProductId)
                            {
                                <div class="item center-block ">
                                    <div class="thumbnail">
                                        <a href="/Products/Details/@item.ProductId"><img src="@Html.DisplayFor(modelItem => item.Image)" style="width:auto;height:220px" alt="" /></a>
                                        <div class="caption">
                                            <h3 class="group inner list-group-item-heading" style="height:50px;">
                                                <a href="/Products/Details/@item.ProductId"> @Html.DisplayFor(modelItem => item.Name)</a>
                                            </h3>

                                            <div class="row">
                                                <div class="col-xs-12 ">
                                                    <p style="color:red;width:auto">
                                                        @if (item.PromotionPrice != null)
                                                        {
                                                            <mark style="color:white ;background-color:red">@( String.Format("-{0:P1}", 1 - item.PromotionPrice / item.Price))</mark>
                                                            <del> @Html.DisplayFor(modelItem => item.Price)</del>
                                                            @Html.DisplayFor(modelItem => item.PromotionPrice)
                                                        }
                                                        else
                                                        {
                                                            @Html.DisplayFor(modelItem => item.Price)
                                                        }
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                    </div>
                    <a class="left carousel-control " href="#a" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"> </i> </a>
                    <a class="right carousel-control" href="#a" data-slide="next"><i class="glyphicon glyphicon-chevron-right"> </i>  </a>

                </div>
            </div>


            @foreach (var i in CategoryList)
            {
                foreach (var item2 in allProduct)
                {
                    if (item2.ProductCategoryId == i.ProductCategoryId)
                    {
                        count = 0;
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <h3 class="panel-heading"> <a href="/Products/Filter/@i.ProductCategoryId">@i.Name >></a></h3>
                        </div>
                        break;
                    }
                }

                foreach (var item in allProduct)
                {
                    if (count == 4)
                    {
                        break;
                    }


                    if (item.ProductCategoryId == i.ProductCategoryId)
                    {

                        <div class="item col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
                            <div class="thumbnail">
                                <a href="/Products/Details/@item.ProductId"><img class="group list-group-image img-fluid" src="@Html.DisplayFor(modelItem => item.Image)" alt="" /></a>
                                <div class="caption">
                                    <h3 class="group inner list-group-item-heading">
                                        <a href="/Products/Details/@item.ProductId" style="font-size:small"> @Html.DisplayFor(modelItem => item.Name)</a>
                                    </h3>

                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <p style="color:red;width:auto">
                                                @if (item.PromotionPrice != null)
                                                {
                                                    <mark style="color:white ;background-color:red">@( String.Format("-{0:P1}", 1 - item.PromotionPrice / item.Price))</mark>
                                                    <del> @Html.DisplayFor(modelItem => item.Price)</del>
                                                    @Html.DisplayFor(modelItem => item.PromotionPrice)
                                                }
                                                else
                                                {
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                }
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        count++;

                    }
                }

            }
        </div>

    </div>
</div>




