
@model IEnumerable<ShopManageProject.Models.OrderDetail>
@{
    ViewBag.Title = "GetOrderDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{

<h2>Đơn Hàng [ID=@item.OrderId] (Khách Hàng : @item.Orders.ShipName)</h2>

    <h4>Ngày Đặt : @item.Orders.CreateDate </h4>
    break;
}
@{Nullable<decimal> total = 0; }
<table class="table">
    <tr>
        <th>
            Số Lượng
        </th>
        <th>
            Tổng Tiền
        </th>
        
        <th>
            Tên Sản Phẩm
        </th>
        <th>
            Image
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quanlity)
        </td>
        <td>
            @String.Format("{0:0,0đ}", item.Price)
            @{total += item.Price;}
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Product.Image)" width="90" height="90" />
        </td>


    </tr>
    }


</table>

<br /><br />

<div class="container">
    <div class="col-md-4">
        Tổng Thiệt Hại :<mark style="color:white ;background-color:red">@(String.Format("{0:0,0đ}", total))</mark>
    </div>
    <div class="col-md-8">
        <a href="~/" class="btn btn-primary">Tiếp Tục Mua Hàng</a>

    </div>
</div>
