@model ShopManageProject.Models.Product

@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container" id="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()



        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Tên Sản Phẩm
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Code
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", id = "code" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Mô Tả
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "des" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Đường Dẫn Ảnh
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", id = "image" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Giá
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", id = "price" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">Giá Khuyến Mại</div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control", id = "pPrice" } })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Số Lượng
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Quanlity, new { htmlAttributes = new { @class = "form-control", id = "quanlity" } })
                @Html.ValidationMessageFor(model => model.Quanlity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Loại Sản Phẩm
            </div>
            <div class="col-md-9">
                @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class=" col-md-2">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
            <div class=" col-md-2">
                <input type="button" value="Clear" class="btn btn-default" id="clear" />
            </div>
        </div>

    }


</div>

<div class="container">
    <div id="list"></div>
</div>

<script>
    $(document).ready(function () {
        $('#list').load('ProductList #productList');
        //$("#list").animate({
        //    width: "300px",
        //    height: "300px",
        //    marginLeft: "5px",
        //    borderWidth: "10px",
        //    opacity: 1
        //});
        //$('#load').click(function (e) {
        //    e.preventDefault();
        //    $('#content').load('CreateProduct #createForm');
        //});
    });

    $(document).ready(function () {
        $('#clear').click(function () {

            //$('#createForm').load('CreateProduct #createForm');
            $('#name,#code,#des,#image,#price,#pPrice,#quanlity').val('');
        });

    });


</script>