@model ShopManageProject.Models.Product

@{
    ViewBag.Title = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>

<style>
    label.error {
        color: red;
    }
</style>

<div class="container" id="content">

    <h3>Sửa sản phẩm</h3>
    @using (Html.BeginForm("EditProduct","Admin",FormMethod.Post,new { id = "form", role="form"}))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductId)
        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Tên Sản Phẩm
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "name" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Code
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Mô Tả
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Đường Dẫn Ảnh
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Giá
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">Giá Khuyến Mại</div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.PromotionPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PromotionPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Số Lượng
            </div>
            <div class="col-md-9">
                @Html.EditorFor(model => model.Quanlity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quanlity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6 col-sm-12">
            <div class="col-md-3">
                Loại Sản Phẩm
            </div>
            <div class="col-md-9">
                @Html.DropDownList("ProductCategoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group col-md-12 col-sm-12">
           
                <input type="submit" value="Sửa" class="btn btn-default" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          

        </div>

    }
</div>

<div class="container">
    <div id="list"></div>
</div>

<script>

    $().ready(function () {
        $("#form").validate({
            onfocusout: false,
            onkeyup: true,
            onclick: false,
            rules: {
                "#name": {
                    required: true,
                    minlength: 2,
                    maxlength: 15
                },
                "password": {
                    required: true,
                    minlength: 8
                },
                "re-password": {
                    equalTo: "#password",
                    minlength: 8
                }
            }
        });
    });


</script>