﻿@model ShopManageProject.Models.Users
@{
    ViewBag.Title = "Create";
}
<h2>Tạo </h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal col-md-12">
    <h4>Tài khoản</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Tên tài khoản :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Mật khẩu :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Nhập lại mật khẩu :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            <span id='message'></span>
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Tên :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Địa chỉ :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Email :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12 col-sm-12">
        <div class="col-md-2">
            <strong> Số điện thoại :</strong>
        </div>
        <div class="col-md-6">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 ">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo mới" class="btn btn-primary" id="edit" />
        </div>
    </div>

</div>
}
<div>
    <a href="~/" class="btn btn-primary">Tiếp Tục Mua Hàng</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
