@model ShopManageProject.Models.Users

@if (Session["GroupName"].ToString().Equals("Admin"))
{
    ViewBag.Title = "AdminDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}else if(Session["GroupName"].ToString().Equals("User"))
{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
        ViewBag.Title = "Details";
    }

<h2>Chi tiết</h2>

<div>
    <h4>Tài khoản</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Mật khẩu

        <dd>
            @Html.HiddenFor(model => model.Password)
        </dd>

        <dt>
            Tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>*@

        <dt>
            Quyền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserGroup.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.UserId }) |

    @if (Session["GroupName"].ToString().Equals("Admin"))
    {
        @Html.ActionLink("Về trang chủ", "ProductList", "Admin")
    }
    else if (Session["GroupName"].ToString().Equals("User"))
    {
        @Html.ActionLink("Về trang chủ", "Index", "Products")
    }


</p>
